<!DOCTYPE html>
<html data-theme="cupcake">

<head>
  <title>
    Tổng quan | Quản lý các combo
  </title>
  <meta name="author" content="Chung Le Ba">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.0.22/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body>
  <%- include('m-com-topbar.ejs'); -%>

    <div class="mx-auto max-w-7xl px-2 lg:px-8 mt-5">
      <h1 class="text-2xl mt-5 text-start text-red-600 font-bold mb-5">Tất cả combo</h1>
      <p class="text-start ml-5 my-3 font-bold">Các bombo đang áp dụng</p>
      <div class="inline-block min-w-full py-2 sm:px-2 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-2 py-4">#</th>
                <th scope="col" class="px-2 py-4">Thời gian đặt</th>
                <th scope="col" class="px-2 py-4">Khách hàng</th>
                <th scope="col" class="px-2 py-4">Mã Combo</th>
                <th scope="col" class="px-2 py-4">Tên Combo</th>
                <th scope="col" class="px-2 py-4">Giá</th>
                <th scope="col" class="px-2 py-4">Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <% for( let index=0; index < data.length; index++ ) { %>
                <tr
                  class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                  <td class="whitespace-nowrap px-2 py-4 font-medium">
                    <%= index +1 %>
                  </td>
                  <td class="whitespace-nowrap px-2 py-4"><%= data[index].timeCreate.toLocaleString() %></td>
                  <td class="whitespace-nowrap px-2 py-4 font-bold"><%= data[index].customer_id[0].name %></td>
                  <td class="whitespace-nowrap px-2 py-4"><%= data[index].product_id[0].code %></td>
                  <td class="whitespace-nowrap px-2 py-4 font-bold"><%= data[index].product_id[0].name %></td>
                  <td class="whitespace-nowrap px-2 py-4 font-bold"><%= formatPrice(data[index].product_id[0].price) %> VND</td>
                  <td class="whitespace-nowrap px-2 py-4 text-red-600"><%= data[index].status == 1 ? 'Chờ xử lý' : '' %></td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- add button -->
    <%- include('m-com-add-button.ejs'); -%>
      <script>
        feather.replace()
      </script>
</body>

</html>