<!DOCTYPE html>
<html data-theme="cupcake">

<head>
  <title>
    Tổng quan | Quản lý - Sales Management
  </title>
  <meta name="author" content="Chung Le Ba">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.0.22/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>

<body>
  <%- include('m-com-topbar.ejs'); -%>


    <div class="mx-auto max-w-7xl px-2 lg:px-8 mt-5">

      <div class="px-4 mx-auto w-full">
        <h1 class="text-2xl mt-5 text-start text-red-600 font-bold mb-5">Tổng quan</h1>
        <div>
          <div class="flex flex-wrap animate__animated animate__pulse">
            <a href="/manager/quan-ly-combo-cho-xu-ly" class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                      <h5 class="text-blueGray-400 uppercase font-bold text-xs">Đơn Combo chờ</h5><span
                        class="font-semibold text-xl text-red-700">44</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500">
                        <i data-feather="zap"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                      <h5 class="text-blueGray-400 uppercase font-bold text-xs">Đơn Hot deals chờ</h5><span
                        class="font-semibold text-xl text-orange-700">23</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500">
                        <i data-feather="award"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                      <h5 class="text-blueGray-400 uppercase font-bold text-xs">Tiền chờ xử lý</h5><span
                        class="font-semibold text-xl text-blueGray-700">92,4 triệu</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-pink-500">
                        <i data-feather="dollar-sign"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
              <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                <div class="flex-auto p-4">
                  <div class="flex flex-wrap">
                    <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                      <h5 class="text-blueGray-400 uppercase font-bold text-xs">Doanh thu ghi nhận</h5><span
                        class="font-semibold text-xl text-blueGray-700">250 triệu</span>
                    </div>
                    <div class="relative w-auto pl-4 flex-initial">
                      <div
                        class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-green-500">
                        <i data-feather="dollar-sign"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="text-start my-3 font-bold">Hoạt động mới nhất</p>
          <div class="overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Thời gian</th>
                  <th>Nhân viên</th>
                  <th>Khách hàng</th>
                  <th>Giá trị</th>
                  <th>Trạng thái</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <% for( let index=0; index < 5; index++ ) { %>
                  <tr>
                    <th>
                      <%= index +1 %>
                    </th>
                    <td class="font-bold mr-1 text-violet-600">3 phút trước</td>
                    <td class="font-bold mr-1 text-violet-600">Sang</td>
                    <td class=" font-semibold">Lê Hoàng Nam</td>
                    <td class=" font-semibold">2,000,000</td>
                    <td class=" mr-1">đang xử lý </td>
                  </tr>
                  <% } %>


              </tbody>
            </table>
          </div>

        </div>
      </div>
      <p class="text-start ml-5 my-3 font-bold">Các bombo đang áp dụng</p>
      <div class=" px-2 lg:overflow-visible lg:px-0">
        <div class="mx-auto max-w-7xl px-2 lg:px-8">
          <% var regex=/(<([^>]+)>)/ig %>
          <div class="grid grid-row-4 gap-4">
            <% for( let index=0; index < data.length; index++ ) { %>
              <div class="grid lg:grid-cols-12 sm:grid-row-4 p-5 bg-white rounded-lg shadow-xl">
                <div class="lg:col-span-4 mt-3 p-2">
                  <img src="/uploads/<%= data[index].images[0] %>" class="rounded-lg mx-auto w-full" alt="">

                  <div id="imgPreview" class="grid grid-cols-6 gap-2 p-2 align-middle">
                    <% for( let t=1; t < data[index].images.length; t++ ) { %>
                      <img class="w-20 rounded-md self-center ..." src="/uploads/<%= data[index].images[t] %>" alt="">
                      <% } %>
                  </div>
                </div>
                <div class="lg:col-span-8 p-5">
                  <div class="grid grid-cols-2">
                    <p class="text-center flex flex-row text-green-600"><i data-feather="map-pin" class="mr-2 w-4"></i>
                      <%= data[index].location %>
                    </p>
                    <div class="flex flex-row justify-end">
                      <!-- <a href="#"
                        class="btn btn-sm mr-2 rounded-lg text-green-700 text-end flex flex-row justify-end"><i
                          data-feather="eye" class="w-4 h-4"></i>Xem</a> -->
                      <a href="/manager/edit-combo/<%= data[index].id %>"
                        class="btn btn-sm mr-2 rounded-lg text-orange-700 text-end flex flex-row justify-end"><i
                          data-feather="edit" class="w-4 h-4"></i>Cập nhật</a>
                        <button href="#"
                          class="btn btn-sm mr-2 rounded-lg text-stone-500 text-end flex flex-row justify-end"><i
                            data-feather="pause" class="w-4 h-4"></i> Ngưng</button>

                    </div>



                  </div>
                  <a href="/manager/combo/<%= data[index].id %>">
                    <h3 class="text-2xl mb-2 font-bold hover:text-red-600">
                      <%= data[index].name %>
                    </h3>
                  </a>
                  
                    <p class="flex flex-row mb-2 italic"><%- data[index].description.slice(0,300).replace(regex, "" ) %>
                    </p>
                    <div class="grid grid-cols-2 mt-2">
                      <div>
                        <p class="flex flex-row mb-2 font-bold"><i data-feather="code" class="mr-2 w-4"></i>Mã Combo: <%=
                          data[index].code %>
                      </p>
                      <p class="flex flex-row mb-2 font-bold"><i data-feather="clock" class="mr-2 w-4"></i>Thời gian: <%=
                          data[index].timeCombo %>
                      </p>
                      </div>
                      <div>
                        <p class="flex flex-row mb-2 font-bold"><i data-feather="shopping-bag" class="mr-2 w-4"></i>150 đã
                          đặt</p>
                          <p class="flex flex-row mb-2 font-bold"><i data-feather="dollar-sign" class="mr-2 w-4"></i>
                            <%= formatPrice(data[index].price) %> đ/khách
                          </p>
                      </div>
                    </div>
                </div>

              </div>
              <% } %>

          </div>
        </div>
      </div>
    </div>
    <!-- add button -->
    <%- include('m-com-add-button.ejs'); -%>
      <script>
        feather.replace()
      </script>
</body>

</html>